<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.dao.PdCategorySpecValueMapper">
  <resultMap id="BaseResultMap" type="com.test.entity.PdCategorySpecValue">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pd_category_spec_key_id" jdbcType="BIGINT" property="pdCategorySpecKeyId" />
    <result column="pd_spec_value_id" jdbcType="BIGINT" property="pdSpecValueId" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pd_category_spec_key_id, pd_spec_value_id, sort, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pd_category_spec_value
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pd_category_spec_value
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.test.entity.PdCategorySpecValue" useGeneratedKeys="true">
    insert into pd_category_spec_value (pd_category_spec_key_id, pd_spec_value_id, 
      sort, create_time, update_time
      )
    values (#{pdCategorySpecKeyId,jdbcType=BIGINT}, #{pdSpecValueId,jdbcType=BIGINT}, 
      #{sort,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.test.entity.PdCategorySpecValue" useGeneratedKeys="true">
    insert into pd_category_spec_value
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pdCategorySpecKeyId != null">
        pd_category_spec_key_id,
      </if>
      <if test="pdSpecValueId != null">
        pd_spec_value_id,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pdCategorySpecKeyId != null">
        #{pdCategorySpecKeyId,jdbcType=BIGINT},
      </if>
      <if test="pdSpecValueId != null">
        #{pdSpecValueId,jdbcType=BIGINT},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.entity.PdCategorySpecValue">
    update pd_category_spec_value
    <set>
      <if test="pdCategorySpecKeyId != null">
        pd_category_spec_key_id = #{pdCategorySpecKeyId,jdbcType=BIGINT},
      </if>
      <if test="pdSpecValueId != null">
        pd_spec_value_id = #{pdSpecValueId,jdbcType=BIGINT},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.entity.PdCategorySpecValue">
    update pd_category_spec_value
    set pd_category_spec_key_id = #{pdCategorySpecKeyId,jdbcType=BIGINT},
      pd_spec_value_id = #{pdSpecValueId,jdbcType=BIGINT},
      sort = #{sort,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>