<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.dao.PdCategoryMapper" >

    <resultMap id="BaseResultMap2" type="com.test.bo.CategoryHavingSpecBO">

        <result column="category_id"  property="categoryId" />
        <result column="num"  property="num" />

    </resultMap>

    <select id="getCategoryHavingSpec" resultMap="BaseResultMap2">
    select category_id , count(1) as num
    from pd_category_spec_key where category_id
    in (${categoryIds}) group by category_id having num>0

    </select>


    <select id="selectByParentId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from pd_category where parent_id= #{parentId} and is_enable=1 order by sort
    </select>

</mapper>