<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.dao.ULoginTokenMapper" >
  <select id="selectByToken" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from u_login_token
    where token = #{token,jdbcType=VARCHAR}
  </select>
  <update id="updateByToken" parameterType="com.test.entity.ULoginToken" >
    update u_login_token
    <set >
      <if test="logoutTime != null" >
        logout_time = #{logoutTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT} and token=#{token,jdbcType=VARCHAR}
  </update>
</mapper>